<main id="main" class="">
    <div id="content" role="main" class="content-area">
        <div class="login">
            <div class="login-content">
               <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <h1 class="text-center">Đăng nhập</h1>
                  <div class="form-group">
                     <label>Tên tài khoản</label>
                     <input type="text" class="form-control form-control-lg fs-15px"  formControlName="username" placeholder="Tên tài khoản">
                  </div>
                  <div *ngIf="submitted && f.username.errors" class="d-flex invalid-feedback">
                     <div *ngIf="f.username.errors.required">Chưa nhập tài khoản!</div>
                 </div>
                  <div class="form-group">
                     <div class="d-flex">
                        <label>Mật khẩu</label>
                        <a href="#" class="ml-auto text-muted">Quên mật khẩu</a>
                     </div>
                     <input type="password" class="form-control form-control-lg fs-15px"  formControlName="password" placeholder="Mật khẩu">
                     <div *ngIf="submitted && f.password.errors" class="d-flex invalid-feedback">
                         <div *ngIf="f.password.errors.required">Chưa nhập mật khẩu!</div>
                     </div>
                  </div>
                  <div class="form-group" *ngIf="submitted && error != null">
                     <div class="d-flex invalid-feedback">
                        Tên tài khoản hoặc mật khẩu không chính xác!
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" value="" id="customCheck1" />
                        <label class="custom-control-label fw-500" for="customCheck1">Nhớ tài khoản</label>
                     </div>
                  </div>
                  <button class="btn btn-primary btn-lg btn-block fw-500 mb-3" [disabled]="loginForm.invalid || loading" type="submit">
                     Đăng nhập</button>
                  <div class="text-center text-muted">
                     Bạn chưa có tài khoản? <a href="page_register.html">Đăng ký</a>.
                  </div>
               </form>
            </div>
         </div>
         <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
    </div>
</main>