<div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
    <div class="sidebar-menu no-scrollbar ">
       <ul class="nav nav-sidebar  nav-vertical nav-uppercase">
          <li class="header-search-form search-form html relative has-icon">
             <div class="header-search-form-wrapper">
                <div class="searchform-wrapper ux-search-box relative is-normal">
                   <form role="search" method="get" class="searchform" action="http://mauweb.monamedia.net/chimpgroup/">
                      <div class="flex-row relative">
                         <div class="flex-col flex-grow">
                            <input type="search" class="search-field mb-0" name="s" value="" placeholder="Tìm kiếm&hellip;" />
                            <input type="hidden" name="post_type" value="product" />
                         </div>
                         <!-- .flex-col -->
                         <div class="flex-col">
                            <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0">
                            <i class="icon-search" ></i>				</button>
                         </div>
                         <!-- .flex-col -->
                      </div>
                      <!-- .flex-row -->
                      <div class="live-search-results text-left z-top"></div>
                   </form>
                </div>
             </div>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-16 current_page_item menu-item-24"><a href="index.html" class="nav-top-link">Trang chủ</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-512"><a href="cau-hoi/index.html" class="nav-top-link">Câu hỏi</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1323"><a href="category/tin-tuc/index.html" class="nav-top-link">Khóa học</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1324"><a class="nav-top-link">Sự kiện</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1325"><a href="hinh-anh/index.html" class="nav-top-link">Làm việc nhóm</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-508"><a href="hinh-anh/index.html" class="nav-top-link">Hình ảnh</a></li>
          <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-25"><a href="category/tin-tuc/index.html" class="nav-top-link">Tin tức</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-507"><a href="dich-vu/index.html" class="nav-top-link">Dịch vụ</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="gioi-thieu/index.html" class="nav-top-link">Giới thiệu</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1326"><a href="category/tin-tuc/index.html" class="nav-top-link">Chi phí</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="lien-he/index.html" class="nav-top-link">Liên hệ</a></li>
          <li class="account-item has-icon menu-item">
             <a href="tai-khoan/index.html"
                class="nav-top-link nav-top-not-logged-in">
             <span class="header-account-title">
             Đăng nhập  </span>
             </a><!-- .account-login-link -->
          </li>
          <li class="html header-social-icons ml-0">
             <div class="social-icons follow-icons" ><a href="http://url/" target="_blank" data-label="Facebook"  rel="noopener noreferrer nofollow" class="icon plain facebook tooltip" title="Follow on Facebook"><i class="icon-facebook" ></i></a><a href="http://url/" target="_blank" rel="noopener noreferrer nofollow" data-label="Instagram" class="icon plain  instagram tooltip" title="Follow on Instagram"><i class="icon-instagram" ></i></a><a href="http://url/" target="_blank"  data-label="Twitter"  rel="noopener noreferrer nofollow" class="icon plain  twitter tooltip" title="Follow on Twitter"><i class="icon-twitter" ></i></a></div>
          </li>
       </ul>
    </div>
    <!-- inner -->
 </div>
 <!-- #mobile-menu -->