<div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
    <div class="sidebar-menu no-scrollbar ">
        <ul class="nav nav-sidebar  nav-vertical nav-uppercase">
              <li class="header-search-form search-form html relative has-icon">
	<div class="header-search-form-wrapper">
		<div class="searchform-wrapper ux-search-box relative is-normal"><form role="search" method="get" class="searchform" action="http://mauweb.monamedia.net/chimpgroup/">
		<div class="flex-row relative">
									<div class="flex-col flex-grow">
			  <input type="search" class="search-field mb-0" name="s" value="" placeholder="Tìm kiếm&hellip;" />
		    <input type="hidden" name="post_type" value="product" />
        			</div><!-- .flex-col -->
			<div class="flex-col">
				<button type="submit" class="ux-search-submit submit-button secondary button icon mb-0">
					<i class="icon-search" ></i>				</button>
			</div><!-- .flex-col -->
		</div><!-- .flex-row -->
	 <div class="live-search-results text-left z-top"></div>
</form>
</div>	</div>
</li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-16 current_page_item menu-item-24"><a href="index.html" class="nav-top-link">Trang chủ</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-512"><a href="cau-hoi/index.html" class="nav-top-link">Câu hỏi</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1323"><a href="category/tin-tuc/index.html" class="nav-top-link">Khóa học</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1324"><a href="dich-vu/index.html" class="nav-top-link">Sự kiện</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1325"><a href="hinh-anh/index.html" class="nav-top-link">Làm việc nhóm</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-508"><a href="hinh-anh/index.html" class="nav-top-link">Hình ảnh</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-25"><a href="category/tin-tuc/index.html" class="nav-top-link">Tin tức</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-507"><a href="dich-vu/index.html" class="nav-top-link">Dịch vụ</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="gioi-thieu/index.html" class="nav-top-link">Giới thiệu</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1326"><a href="category/tin-tuc/index.html" class="nav-top-link">Chi phí</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="lien-he/index.html" class="nav-top-link">Liên hệ</a></li>
<li class="account-item has-icon menu-item">
<a href="tai-khoan/index.html"
    class="nav-top-link nav-top-not-logged-in">
    <span class="header-account-title">
    Đăng nhập  </span>
</a><!-- .account-login-link -->

</li>
<li class="html header-social-icons ml-0">
	<div class="social-icons follow-icons" ><a href="http://url/" target="_blank" data-label="Facebook"  rel="noopener noreferrer nofollow" class="icon plain facebook tooltip" title="Follow on Facebook"><i class="icon-facebook" ></i></a><a href="http://url/" target="_blank" rel="noopener noreferrer nofollow" data-label="Instagram" class="icon plain  instagram tooltip" title="Follow on Instagram"><i class="icon-instagram" ></i></a><a href="http://url/" target="_blank"  data-label="Twitter"  rel="noopener noreferrer nofollow" class="icon plain  twitter tooltip" title="Follow on Twitter"><i class="icon-twitter" ></i></a></div></li>        </ul>
    </div><!-- inner -->
</div><!-- #mobile-menu -->
        <a href="tel:0769220162" class="hotlinemp" rel="nofollow">
        <div class="mypage-alo-phone" style="">
        <div class="animated infinite zoomIn mypage-alo-ph-circle">
        </div>
        <div class="animated infinite pulse mypage-alo-ph-circle-fill">
        </div>
        <div class="animated infinite tada mypage-alo-ph-img-circle">
        </div>
        </div>
        </a>
        <!-- FB Messenger -->
<div id="fbMsg">
	<img data-remodal-target="fb-messenger" src="./assets/wp-content/plugins/fb-messenger/images/fb-messenger.png">
</div>

<div class="remodal" data-remodal-id="fb-messenger">
	<div class="fb-page" data-tabs="messages" data-href="" data-width="310" data-height="330" data-href="" data-small-header="true"  data-hide-cover="false" data-show-facepile="true" data-adapt-container-width="true">
		<div class="fb-xfbml-parse-ignore">
			<blockquote>Loading...</blockquote>
		</div>
	</div>
	</div>

<div id="fb-root"></div>
<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "../../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End FB Messenger -->
    <div id="login-form-popup" class="lightbox-content mfp-hide">
            <div class="woocommerce-notices-wrapper"></div>
<div class="account-container lightbox-inner">

	
	<div class="col2-set row row-divided row-large" id="customer_login">

		<div class="col-1 large-6 col pb-0">

			
			<div class="account-login-inner">

				<h3 class="uppercase">Đăng nhập</h3>

				<form class="woocommerce-form woocommerce-form-login login" method="post">

					
					<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
						<label for="username">Tên tài khoản hoặc địa chỉ email&nbsp;<span class="required">*</span></label>
						<input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" value="" />					</p>
					<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
						<label for="password">Mật khẩu&nbsp;<span class="required">*</span></label>
						<input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password" />
					</p>

					
					<p class="form-row">
						<label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
							<input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>Ghi nhớ mật khẩu</span>
						</label>
						<input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="e241b24bc4" /><input type="hidden" name="_wp_http_referer" value="/chimpgroup/" />						<button type="submit" class="woocommerce-Button button woocommerce-form-login__submit" name="login" value="Đăng nhập">Đăng nhập</button>
					</p>
					<p class="woocommerce-LostPassword lost_password">
						<a href="tai-khoan/lost-password/index.html">Quên mật khẩu?</a>
					</p>

					
				</form>
			</div><!-- .login-inner -->

			
		</div>

		<div class="col-2 large-6 col pb-0">

			<div class="account-register-inner">

				<h3 class="uppercase">Đăng ký</h3>

				<form method="post" class="woocommerce-form woocommerce-form-register register"  >

					
					
					<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
						<label for="reg_email">Địa chỉ email&nbsp;<span class="required">*</span></label>
						<input type="email" class="woocommerce-Input woocommerce-Input--text input-text" name="email" id="reg_email" autocomplete="email" value="" />					</p>

					
						<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
							<label for="reg_password">Mật khẩu&nbsp;<span class="required">*</span></label>
							<input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="password" id="reg_password" autocomplete="new-password" />
						</p>

					
					<div class="woocommerce-privacy-policy-text"></div>
					<p class="woocommerce-FormRow form-row">
						<input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce" value="7d8c6c8085" /><input type="hidden" name="_wp_http_referer" value="/chimpgroup/" />						<button type="submit" class="woocommerce-Button button" name="register" value="Đăng ký">Đăng ký</button>
					</p>

					
				</form>

			</div><!-- .register-inner -->

		</div><!-- .large-6 -->

	</div> <!-- .row -->

</div>